script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js')
script(src='dist/angular-highlightjs.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js')
script(src='dist/app.min.js')
script(src='http://localhost:35729/livereload.js')