link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
link(rel='stylesheet', href='//yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css')
link(rel='stylesheet', href='dist/app.min.css')