link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='//yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-blog.css')
link(rel='stylesheet', href='/stylesheets/stylesheet.css')