.controls
	a.btn.btn-primary(href='#/addPost') Add

ul.pagination.pagination-sm
	li(class='{{ pagination.className }}', ng-repeat='pagination in pagination.paginationList')
		span(ng-if='pagination.className') {{ pagination.text }}
		a(ng-if='!pagination.className', href='#/page/{{ pagination.page }}') {{ pagination.text }}

.blog-main
	.blog-post(ng-repeat='post in posts')
		h2.blog-post-title(ng-bind-html='post.title | trustAsHtml')
		p.blog-post-meta {{ post.date }} by 
			a fsot
		div.blog-post-content(ng-bind-html='post.content | trustAsHtml')
		a.btn.btn-default.btn-xs(href='#/editPost/{{ post._id }}') edit

ul.pagination.pagination-sm
	li(class='{{ pagination.className }}', ng-repeat='pagination in pagination.paginationList')
		span(ng-if='pagination.className == "disabled" || pagination.className == "active"') {{ pagination.text }}
		a(ng-if='pagination.className != "disabled" && pagination.className != "active"', href='#/page/{{ pagination.page }}') {{ pagination.text }}