doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet', href='dist/app.min.css')

		block title

	body(ng-app='f3')

		block header
		
		block main

		block footer

		script(src='dist/app.min.js')
		script(src='http://localhost:35729/livereload.js')
