script#pagination-template(type='text/x-handlebars-template').
	{{#if className}}
		<li class="{{className}}">
			<span>{{text}}</span>
	{{else}}
		<li>
			<a href="#/page/{{page}}">{{text}}</a>
	{{/if}}
		</li>