.blog-post(ng-controller='postsController')
	.blog-post(ng-repeat='post in posts')
		h2.blog-post-title {{ post.title }}
		p.blog-post-meta {{ post.date }} by 
			a fsot
		div.blog-post-content {{ post.content }}
		a.btn.btn-default.btn-xs(href='#/editPost/{{ post.id }}') edit