body {
	font-family: Arial;
	font-size: 14px;
	background-color: #E0E0E0;
	width: 800px;
	margin: 20px auto;
}

#header {
	padding: 20px;
	background: #cff;
}

#pagination {
	padding: 0px;
}

#pagination li {
	display: inline;
}

#posts {
	list-style: none;
	padding: 0px;
}

#posts > li {
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #ccc;
}

p {
	font-size: 14px;
}

pre {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	white-space: pre-wrap;
}

textarea {
	width: 794px;
	height: 500px;
}