<script type="text/template" id="posts-template">
	<h2><%= title %></h2>
	<span>by fsot on <%= date %></span>
	<p><%= content %></p>
	<a href="#/editPost/<%= id %>" class="btn btn-default btn-xs">edit</a>
</script>